* {
  font-family: 'Orbitron', sans-serif;
}

html {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  background-image: url(/resized_621a9e9a252d5_ccexpress.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  letter-spacing: 2px;
  justify-content: center;
  height: 100vh;
}

#canvas1 {
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 600px;
  border: 3px solid rgba(229, 5, 255, 1);
  border-radius: 2rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
}
