* {
  font-family: 'Orbitron', sans-serif;
}

html {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  background-image: url(./images/resized_621a9e9a252d5_ccexpress.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  letter-spacing: 2px;
}
